table{
	background-color: gray;
	color: blue;
	font-family: Arial;
}
th{
	font-size: 20px;
}
td{
	text-align: center;
}
td:hover{
	background-color: red;
	color: white;
}
th, td{
	background-color: Azure;
	border: 1px solid black;
	font-weight: bold;
}

